---
layout: default
---
{% comment %}
{% if site.posts.size == 0 %}
  <h2>Não há nada por aqui ainda!&nbsp;&nbsp; ='(</h2>
{% else %}
  {% for post in site.posts %}
    <div class="content list">
      <div class="list-item">
        <h2 class="list-post-title">
          <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        <div class="list-post-date">
          <time>{{ post.date | date_to_string }}</time>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
{% endcomment %}
<div style="text-align: center; margin-top: 100px;">

<h1>Follow me!</h1>

<p>&nbsp;</p>
{% include icon-twitter.html %} &nbsp; {% include icon-face.html %} &nbsp; {% include icon-google.html %}{% include icon-instagram.html %}
</div>